$card-text-size: 1.3em;
$cart-text-line: 1.7em;

.body {
  @extend .grey-text, .text-darken-3;
  font-weight: 200;
}

.header {
  text-align: center;
  i {
    font-size: 0.75em;
    margin: 0 10px;
  }
}

.items {
  font-size: $card-text-size;

  .item__body {
    line-height: $cart-text-line;
  }

  .item__icon {
    i {
      font-size: 4em;
    }
  }
}

.filters {
  p.filter {
    display: inline;
    padding: 10px;
  }

  button {
    display: inline;
  }
}

